<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<div *ngIf="!authorized">
<p>App works!</p>
<ion-button (click)="login()">
  Login
</ion-button>

<i class="fa-solid fa-user"></i>
<i class="fa-solid fa-house"></i>

<p>This is the intended login screen.</p>
</div>
<router-outlet>
  
</router-outlet>
<ion-toolbar class="nav-bar">
<ion-tabs>

    <ion-tab-bar slot="bottom" layout="icon-top" class="nav-bar-item">
      <ion-tab-button tab="home">
        <i class="fa-solid fa-house-chimney fa-xl nav-icon"></i>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="clients" layout="icon-top">
        <i class="fa-solid fa-users fa-xl nav-icon"></i>
        <ion-label>Clients</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="appointments" layout="icon-top">
        <i class="fa-solid fa-calendar-days fa-xl nav-icon"></i>
        <ion-label>Meetings</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="account" layout="icon-top">
        <i class="fa-solid fa-gears fa-xl nav-icon"></i>
        <ion-label>Account</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
  </ion-toolbar>

<!-- <app-navigation class="nav-bar"></app-navigation> -->